.headline {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.list {
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.item {
    background-color: pink;
    flex: none;
    width: 280px;
    margin: 10px;
}

.desktop-menu {
    display: block;
    text-align: center;
}

.mobil-menu {
    display: none;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 9fr;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
}

@media screen and (max-width:1250px) {
    .headline {
        font-size: 30px;
    }

    .list {
        flex-wrap: wrap;
    }

    .item {
        width: 45%;
    }

    .desktop-menu {
        text-align: center;
        display: block;
    }

    .mobil-menu {
        text-align: center;
        display: none;
    }
}

@media screen and (max-width:500px) {
    .headline {
        font-size: 20px;
    }

    .list {
        flex-wrap: wrap;
    }

    .item {
        font-size: 20px;
        width: 90%;
    }

    .desktop-menu {
        text-align: center;
        display: none;
    }

    .mobil-menu {
        text-align: center;
        display: block;
    }
}
